

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins&display=swap');


.main-body{
  min-height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}
.main-photos{
  position: absolute;
    top:0;
    left:0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 90%;
    filter: grayscale(0%);
    filter: hue-rotate(40deg);
    filter: brightness(75%);
}
.main-text{
  text-align: center;
  
}
.title{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    text-shadow: 0 0.3rem 0.5rem rgb(0, 0, 0,0.1);
    color: white;
}
.desc{
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
    color: white;
    padding: 0.5rem 0 ;
    text-transform: capitalize;
}
  
.main-image{
  height: 100%;
  width: 100%;
}


.info{
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  min-height: 30vh;
  padding-top: 60px;
  margin-right: 20px;
  margin-left: 20px ;

}
.text{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color:rgb(14, 15, 14);
  text-align: center;
}



.main{
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  height: 70vh;
  background-color:rgb(237, 239, 238);
}
.main-text2{
  font-family: 'Poppins', sans-serif;
  width: 40%; 
  height: 70vh; 
  border:none;
  background-color:rgb(237, 239, 238);
  
}
.main-image2{
  width: 100%;
  height:100%;
}
.title2{
  padding-top: 100px;
  font-size: 60px;
  text-align: center;
  color:rgb(20, 21, 20);
  font-family:  'Strait', sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
}




.main-attrac-body{
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  height: 70vh;
  background-color:white;
}
.attrac-img{
  font-family: 'Poppins', sans-serif;
  width: 60%; 
  height: 70vh; 
  border:none;
  background-color:rgb(30, 99, 64);

}
.attrac-text{
  width: 40%; 
  height: 70vh; 
  text-align: center; 
  color: white;
  background-color:white;

}
.main-attrac-image{
  width: 100%;
  height:100%;
}
.attrac-desc{
  font-size: 15px;
  line-height: 20px;
  color:rgb(34,79, 52);
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Strait', sans-serif;
  margin-top: 30px;

}
.desc2{
  margin: 5px;
  padding-top : 10px;
  text-align: center;
  font-size: 17px;
  font-family: 'Strait', sans-serif;
  color:rgb(34,79, 52);
}
.Bttn-2{
  border-radius: 1000px;
  padding: 17px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  margin-left:150px;
  background-color:rgb(34,79, 52);
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
  
}
.Bttn-3{
  border-radius: 1000px;
  padding: 17px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  background-color:rgb(34,79, 52);
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
  
}





.about-us{
  background-color:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 60px;
}
.header{
  
  background-color: white;
  height: 150px;
}
.content {
  display: flex;
  flex: 1;
  
  color: #000; 
}
.c1{
  width: 33%;
  order: 1;
 
  

}
.c2{
  flex: 1;
  order: 2;
  

}
.c3{
  width: 33%;
  order: 3;
  background-color:white;
  

}
.foot1{
  background-color: white;
  height: 70px;
}

.Bttn {
  background-color:rgb(94, 32, 2);
  color: white;
  border: none;
  width: 220px;
  height: 55px;
  border-radius: 1000px;
  align-self: center;
  font-family: 'Stylish', sans-serif;
 
  font-size: 18px;
}

.Bttn:hover,.see-more-button:hover {
  cursor: pointer;
}

.subt1{
  padding-top: 20px;
  border-bottom: 1px solid rgb(200, 235, 26);
  line-height: 68px;
  font-size: 50px;
  text-align: center;
  color:rgb(15, 15, 14);
  font-family: 'Poppins', sans-serif;
  padding-bottom: 15px;
  margin: 0px;
}
.subt2,.feed{
  padding-top: 29px;
  font-size: 15px;
  text-align: center;
  color:rgb(34, 79, 52);
  font-family: 'Strait', sans-serif;
  padding-bottom: 10px;
 

}
.sub-image{
  height: 80%;
  width: 80%;
  margin-left: 50px;
  margin-top: 40px;
}
.sub-title{
  margin: 5px;
  padding-top: 0px;
  text-align: center;
  font-size: 17px;
  font-family: 'Strait', sans-serif;
  color:rgb(34,79, 52);
  margin-bottom: 20px;
}
.wrapper {
  text-align: center;
}
.see-more-button{
  position: relative;
  top: 50%;
  border: 2px solid rgb(17, 16, 15);
  background-color: rgb(249, 248, 246);
  padding: 12px 15px;
  color: rgb(14, 14, 14);
  margin-top: 40px;

}




.feedback{
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgb(12, 13, 13);
}
.r1,.r2,.r3{
  box-shadow: 10px 10px rgb(197, 233, 197);
  width: 33.33%;
  order: 1;
  height: 350px;
  background-color: white;
}
.footer{
  height: 280px;
}
.feed{
  width: 350px;
  text-align: center;
  margin-left: 60px;
  line-height: 25px;
}
.cust{
font-size: 40px;
color:rgb(14, 14, 14);
font-family: 'Stylish', sans-serif;
padding-bottom: 10px;
margin: 0px;
position: relative;
left:  26%;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);





.footer-distributed{
	background: rgb(30, 80, 64);;
	box-shadow: 0 1px 1px 0  rgb(30, 80, 64);;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color: white;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  rgb(30, 80, 64);
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color: rgb(30, 80, 64); 
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
  background-color:  rgb(30, 80, 64);
}
.f{
  background-color: rgb(30, 80, 64);
}
.footer-distributed .footer-center i{
	background-color:  rgb(30, 80, 64);
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  white;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  white;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:   rgb(30, 80, 64);;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
